<!doctype html>
<html>
  <head>
    <title>About <%=WebsiteName%></title>
    
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>

  <body>
    <div class="about-image">
    <img href="/" src="" class="logo-Images" alt="MainLogo">
  </div>
    <div class="about-page">
    <h1>About <%=WebsiteName%></h1>
    <p></p>
    <p></p>
    <p><a href="/"></a></p>
  </div>
  </body>
</html>