<!doctype html>
<html>
  <head>
    <title>About <%=WebsiteName%></title>
    
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>

  <body>
    <div class="about-image">
    <img href="/" src="images/mainlogo1.png"  class="logo-Images" alt="MainLogo">
  </div>
    <div class="about-page">
    <h1>About <%=WebsiteName%></h1>
    <p>Student Zone is a prime place for you to post your queeries and form groups with other students (and faucalty).</p>
    <p>It's up to you to post your requests or find a group but we streamline it to allow the easiest choices.</p>
    <p><a href="/"></a></p>
    <form action="/action_page.php">
      <input type="file" id="myFile" name="filename">
      <input type="submit">
    </form>
  </div>
  </body>
</html>