<!doctype html>
<html>
  <head>
    <img  href="/" src="images/mainlogo1.png"  class="logo-Images" alt="MainLogo">
    <title>Welcome to <%=WebsiteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <div class="menu-container" id="menu-container">
        <a href="about">About <%=WebsiteName%></a>
        <!-- <a href="search">Search for Topics</a> -->
        <a href="addpost">Add post</a>
        <a href="listposts">List Posts</a>
        <a href="urposts">Youre posts</a>
        <a href="register">Register</a>
        <a href="login">Login</a>
        <a href="logout">Logout</a>
        
      
    </div>
    <form action="/search-result" method="GET">
        <p>What topic are you searching for?</p>
        <input id="search-box" type="text" name="keyword" value="Default">
        <input type="submit" value="Search" >
      </form>
    <div class="menu-button" onclick="toggleMenu()">&#9776;</div>

    <div class="menu-content">
        <h1>Welcome to <%=WebsiteName%></h1>
    </div>
    <div class="ifram-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UL0uEywO-EA?si=BW1vgdkjVJkZaKO7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
    <script>
      //toggle menu bar concept found and adapted from youtube
        function toggleMenu() {
            var menuContainer = document.getElementById("menu-container");
            menuContainer.style.left = menuContainer.style.left === "0px" ? "-200px" : "0";
        }
    </script>
    
</body>
</html>


