<!doctype html>
<html>
  <head>
    <title>Register for <%=WebsiteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <div class="login1">
    <h1>Home <%=WebsiteName%></h1>
    <form method="POST" action="/loggedin">
        <p>Username: <input id="username" type="text" name="username" value="username" /></p>
        <p>Password: <input id="password" type="password" name="password" value="password" /></p>
        <input type="submit" value="login" />
      </form>
    </div>
  </body>
</html>