<html>

<head>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <div class="user-remove1">
    <h1>Delete a user by inputting the username of the account you wish to delete for <%=WebsiteName%>
    </h1>
    <form method="POST" action="/removeuser">
        <p>Username: <input id="username" type="text" name="username" value="username" /></p>
        <input type="submit" value="Remove" />
    </form>
</div>
</body>

</html>